<%= render "shared/header" %>
<div class="intro-wrap">
  <div class="top-intro">


  <div class="intro-image">
<%= image_tag "/use-img.png" %><%# 投稿画像を表示 %><%# 投稿画像を表示 %>
  </div>
    <p>お気に入りのグリーンを<br>投稿しよう！<br><br>
    <% if user_signed_in? %>
      <%= link_to '写真投稿', new_photo_path , class: "top-new-post" %></li>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path , class: "top-sign-up" %></li>
    <% end %>
    </p>
  </div>
</div>

<div class="wrapper">
<div class=top-new-head>
  <p class="top-new-list">
  新着フォト
  </p>
  <%# <p class="top-new-list">
  新着育成記録
  </p> %>
</div>
  <%= render "shared/main-post" %>
</div>